@model ProjetCRA.Models.MISSION


@{
    ViewBag.Title = "AjouterMission";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Missions en cours</h2>
<h3>Ajouter une mission</h3>


<br />


<div class="container" style="width:70%">
    <form class="form-horizontal" action="" method="post">

        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Code * :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="CODE" name="CODE" required>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="LIBELLE">Libellé * :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="LIBELLE" name="LIBELLE" required>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="DATE_DEBUT">Date début * :</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="DATE_DEBUT" name="DATE_DEBUT" required>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="DATE_FIN">Date fin * :</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="DATE_FIN" name="DATE_FIN" required>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="UTILISATEUR_MATRICULE">Matricule employé * :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="UTILISATEUR_MATRICULE" name="UTILISATEUR_MATRICULE" required>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <!--<button type="submit" class="btn btn-default">Submit</button>-->
                <input type="submit" id="ajouterMission" name="ajouterMission" value="Ajouter" class="btn btn-primary" />
                <a href="~/Mission/AdminMissionsEnCours" class="btn btn-default">Retour</a>
            </div>
        </div>
    </form>

</div>
